:global(.details-switch-demo-wrapper) {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 20px;
    transition: background 1s;
}

:global(.details-switch-demo) {
    margin: 25px auto;
    width: 500px;
    height: 250px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

:global(.details-switch-demo-img-wrapper){
    width: 50%;
    display: inline-block;
    height: 100%;
}

:global(.details-switch-demo-text-wrapper) {
    width: 50%;
    display: inline-block;
    height: 100%;
    /*margin-left: 25%;*/
}

:global(.details-switch-demo-pic),
:global(.details-switch-demo-map) {
    position: absolute;
}

:global(.details-switch-demo-pic) {
    width: 250px;
    top: 0px;
    left: 0px;
}

:global(.details-switch-demo-map) {
    width: 166px;
    top: 42px;
    left: 42px;
}
:global(.details-switch-demo-map.map2){
    width: 166px;
    left: 42px;
}

:global(.details-switch-demo-text-wrapper .banner-anim-elem) {
    padding: 40px;
}

:global(.details-switch-demo-text-wrapper h1 ){
    font-size: 30px;
    margin-top: 66px;
    font-family: 'Andale Mono', 'Helvetica';
    font-weight: 300;
    margin-bottom: 10px;
    color: grey;
    margin-left: -10px;
}

:global(.details-switch-demo-text-wrapper em) {
    height: 2px;
    width: 60px;
    border-radius: 2px;
    display: block;
    margin-left: -10px;
}

:global(.details-switch-demo-text-wrapper p ){
    font-size: 12px;
    margin-top: 10px;
}

:global(.details-switch-demo-wrapper .anticon){
    position: absolute;
    font-size: 24px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
}

:global(.details-switch-demo-wrapper .anticon-left){
    left: 5px;
    z-index: 999;
}

:global(.details-switch-demo-wrapper .anticon-right){
    right: 5px;
}
@media screen and (max-width: 414px) {
    :global(.details-switch-demo) {
        transform: scale(.6) translateX(12px);
        transform-origin: left center;
    }
}
@media screen and (max-width: 375px) {
    :global(.details-switch-demo) {
        transform: scale(.55) translateX(7px);
    }
}
@media screen and (max-width: 320px) {
    :global(.details-switch-demo) {
        transform: scale(.46) translateX(12px);
    }
}

:global(.banner-anim) {
    position: relative;
    overflow: hidden;
    min-height: 100px;
}

/*:global(.banner-anim-elem){*/
    /*!*position: relative!important;*!*/
    /*width: 50%!important;*/
/*}*/